*
{
    color: white;
}
.container {
    display: flex;
    width: 500px;
    height: 300px;
    margin: auto;
    background-color: rgb(20, 22, 23);
    overflow: hidden;
}
body {
    width: 1000px;
    height: 1000px;
    position: relative;
    margin: auto;
}
section {
    width: 900px;
}
.slider {
    display: flex;
    height: 400px;
    width: 1500px;
    background-color: rgb(244, 189, 117);
    transition: all 1s;
}
.quistions
{
    width: 500px;
    height: 500px;
    background-color: black;
}
button
{
    background-color: rgb(224, 29, 159);
}